<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="Modal Window">"/>
<script type="text/javascript">
    var stepList = [];
	function dialogClose() {
		parent.jQuery.fn.mtDialog.close();
	};
	setTimeout(dialogClose, 2000);
</script>
<mt:include name="dialog/footer.tmpl" />
