<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="Modal Window">"/>
<mt:var name="success" encode_html="1">
<script type="text/javascript">
	function dialogClose() {
		parent.jQuery.fn.mtDialog.close();
	};
	setTimeout(dialogClose, 2000);
</script>
<mt:include name="dialog/footer.tmpl" />
