<mt:setvarblock name="page_title"><__trans phrase="Display Debug  Profile"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="cms/css/style.css" />
</mt:setvarblock>
<link rel="stylesheet" type="text/css" href="cms/css/style.css" />
<mt:include name="include/header.tmpl" id="header_include">
<mt:var name="message">
<mt:var name="message2">
<mt:loop name="message3">
<mt:var name="__counter__">
<mt:var name="castpic">
</mt:loop>
<mt:include name="include/footer.tmpl" id="footer_include">
