<mtapp:setting
    id="set_template_path"
    label="テンプレートパス">
    <input type="text" name="set_template_path" id="set_template_path" value="<mt:var name="set_template_path" escape="html">" />
</mtapp:setting>
